h1{
  color:dimgray;
  text-align:center;
}

h3{
  color:deepskyblue;
  text-align:center;  
}

p{
  color:forestgreen;
  text-align:center;
}

ul{
  text-align:center;
}

li{
  text-align:center;
}

a{
  color:teal;
  text-align:center;
}
